div[class^="slider-"] {
    height: 10px;
    width: 80%;
    border: 1px solid black;

    .noUi-base {
        background: #dddddd;

        .noUi-origin {
            .noUi-handle {
                background: none;
                border: none;
                box-shadow: none;
                color: white;
                cursor: grab;
                font-size: 16px;
                height: 14px;
                width: 14px;
                top: -5px;
                right: -7px; // Half width
                text-shadow: 0 0 4px black;

                &:active {
                    cursor: grabbing;
                }

                &.handle {
                    background: #c85019;
                    border: 1px solid black;
                    border-radius: 2px;
                    box-shadow: 1px 1px 4px black;
                    height: 12px;
                    width: 12px;
                    right: -6px; // Half width
                    top: -4px;
                }

                &::before, &::after {
                    background: none;
                }

                .noUi-touch-area {
                    cursor: pointer;
                }
            }
        }

        .noUi-tooltip {
            display: none;
        }
        .noUi-active .noUi-tooltip {
            display: block;
            background-color: rgba(black, 0.9);
            color: white;
            line-height: 18px;
            padding: 6px 14px;
        }

        .noUi-connect {
            &.range {
                &_selected {
                    background: rgba(255, 255, 240, 0.8);
                }
            }
        }
    }
}
