<h4 class="sidebar-summary">{{localize "PF2E.Item.SidebarSummary" type=(localize "ITEM.TypeConsumable")}}</h4>

<div class="inventory-details">
    <div class="form-group">
        <label>{{localize "PF2E.QuantityLabel"}}</label>
        <input type="number" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.Rarity"}}</label>
        <select name="data.traits.rarity" data-dtype="String">
            {{#select data.traits.rarity}}
                {{#each rarity as |label key|}}
                    <option value="{{key}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "PF2E.Usage"}}</label>
        <select name="data.usage.value" data-dtype="String">
            {{#select data.usage.value}}
                {{#each usage as |label key|}}
                    <option value="{{key}}">{{localize label}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "PF2E.BulkLabel"}}</label>
        <select name="data.weight.value" data-dtype="String" {{#if bulkDisabled}}disabled="disabled"{{/if}}>
            {{#select data.weight.value}}
                <option value="-">{{localize "PF2E.NegligibleOption"}}</option>
                {{#each bulkTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <!-- Equipped Bulk -->
    <div class="form-group">
        <label>{{localize "PF2E.EquippedBulkLabel"}}</label>
        <select name="data.equippedBulk.value" data-dtype="String" {{#if bulkDisabled}}disabled="disabled"{{/if}}>
            {{#select data.equippedBulk.value}}
                <option value="">{{localize "PF2E.EquippedSameBulkValue"}}</option>
                <option value="0">{{localize "PF2E.NegligibleOption"}}</option>
                {{#each bulkTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <!-- Stack Group -->
    <div class="form-group">
        <label>{{localize "PF2E.StackGroupLabel"}}</label>
        <select name="data.stackGroup" data-dtype="String">
            {{#select data.stackGroup}}
                <option value="">{{localize "PF2E.NoStackGroup"}}</option>
                {{#each stackGroups as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <!-- Size -->
    <div class="form-group">
        <label>{{localize "PF2E.Size"}}</label>
        <select name="data.size" data-dtype="String">
            {{#select data.size}}
                {{#each sizes as |name value|}}
                    <option value="{{value}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
    <!-- Price -->
    <div class="form-group">
        <label>{{localize "PF2E.PriceLabel"}}</label>
        <div class="price-fields">
            <input type="text" name="data.price.value" value="{{priceString}}" data-dtype="String" />
            /
            <input type="text" name="data.price.per" value="{{data.price.per}}" data-dtype="String" />
        </div>
    </div>

    <!-- Charges -->
    <div class="form-group consumable-details">
        <label>{{localize "PF2E.ConsumableChargesLabel"}}</label>
        <input type="number" name="data.charges.value" value="{{data.charges.value}}" data-dtype="Number"/>
        <span class="flex0">/</span>
        <input type="number" name="data.charges.max" value="{{data.charges.max}}" data-dtype="Number"/>
    </div>
    <!-- Traits -->
    <ol class="item-tags tags">
        {{#each traits as |trait|}}
            <li class="tag tag_transparent">{{trait.label}}</li>
        {{/each}}
    </ol>
</div>
