.stamina {
    flex-direction: row;

    li {
        flex-direction: column;

        input {
            padding: 0;
            font-size: 24px;
        }
        input.left {
            color: var(--text-light);
            text-align: right;
            margin-right: 4px;
        }
        input.right {
            color: var(--tertiary-light);
            text-align: left;
            margin-left: 4px;
        }
        .divider {
            font-size: 16px;
            line-height: 1;
        }
        .stamina-group {
            display: flex;
            align-items: center;
        }
    }
}
