.item-rules {
    @include scrollbar;

    .nerd-details {
        margin-bottom: 10px;
        .form-group {
            margin: 0;
        }
        label {
            flex: 0 0 70px;
            margin-right: 4px;
            line-height: 1.5em;
        }
    }

    .rules {
        padding: 7px;

        .rule-element-header {
            display: flex;
            justify-content: space-between;

            h3.unrecognized {
                color: #880000;
            }
        }

        .add-rule-element {
            text-align: right;
        }
    }

    .create-rule-element {
        display: flex;
        white-space: nowrap;
        gap: 6px;
        select {
            flex: 1;
        }
    }

    .rule-editing {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 5px;

        textarea {
            flex: 1;
        }

        .item-controls {
            margin: 0;
        }
    }
}
